[submodule "mp/src/thirdparty/imgui"]
	path = mp/src/thirdparty/imgui
	url = https://github.com/StrataSource/imgui.git
[submodule "mp/src/thirdparty/gigalib"]
	path = mp/src/thirdparty/gigalib
	url = https://github.com/FriskTheFallenHuman/mapbase-mp-gigalib
	branch = main-with-networking
